{
  "SushiWethDai": {  // contract name (use vault/strategy naming convention)
    "controller": "Sushi", // specifiy the controller
    "snowglobe_addr": "0x124F5991e1EAD696D3082139154dB787E52f4C87" // only necesary if the controller for the snowglobe is set
  },
}